body{
  padding-bottom: 3rem;
  background-color: white;
  margin: 0;
}



nav{
  width: 100%;
  height: 40px;
  background-color: lightgrey;
  box-shadow: 2px -4px 10px 1px rgba(0, 0, 0, 0.3);
  font-family: "Monsterrat", sans-serif, "Times New Roman";
}

a{
    text-decoration: none;
    color: black;
}

p{
  font-family: "Monsterrat", sans-serif;
}

@-webkit-keyframes linkfade {
  from{color: black; text-shadow: 0;}
  to{color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    2px 2px 0 #000;}
}

@-moz-keyframes linkfade {
  from{color: black; text-shadow: 0;}
  to{color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    2px 2px 0 #000;}
}

@keyframes linkfade {
  from{color: black; text-shadow: 0;}
  to{color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    2px 2px 0 #000;}
}



header a:hover{
    animation-name: linkfade;
    animation-duration: .08s;
    animation-fill-mode: forwards;
}

a:hover{
  cursor: pointer;
}

#space{
  padding-top: 1.5rem;
}

.description{
  background-color: orange;
  width: 100%;
  height: 350px;
}

.description h1{
  text-align: center;
  font-family: "Bungee", cursive;
  padding-top: 4.5rem;
  font-size: 4rem;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    3px 3px 0 #000;
}

.header{
  top: 0;
  background-color: white;
  width:100%;
  padding-top: 2rem;
  border-bottom: 1px solid #000000;
  position: fixed;
  z-index: 100;
  box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.2);
}

.header h1{
 display: inline;
 font-size: 2rem;
 padding-left: 10rem;
 font-family: 'Julius Sans One', sans-serif;
}

.header h2{
  padding-bottom: .5rem;
  padding-left: .5rem;
  display: inline;
}

.links{
  display: inline-block;
  float: right;
  padding-top: 12px;
  padding-right: 10rem;
  font-style: "Times New Roman";
}

.logo{
  padding-left: .5rem;
  padding-right: .5rem;
}

.navbuttons{
  padding-left: 15rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.navbuttons a{
  padding-top: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 20px;
  font-weight: bolder;
}

@-webkit-keyframes fade {
  from{background-color: lightgray; color: black;}
  to{background-color: gray; color: white;}
}

@-moz-keyframes fade {
  from{background-color: lightgray; color: black;}
  to{background-color: gray; color: white;}
}

@keyframes fade {
  from{background-color: lightgray; color: black;}
  to{background-color: gray; color: white;}
}

.navbuttons a:hover{
  animation-name: fade;
  animation-duration: .2s;
  -webkit-animation-fill-mode: forwards;
  padding-bottom: .5rem;
  padding-top: .46.1rem;
}

.title{
  text-align: center;
  border-bottom: 1px solid #000000;
  margin-left: 50rem;
  margin-right: 50rem;
}

.title h1{
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 2rem;
  font-family: 'Julius Sans One', sans-serif;
}

.posts{
    height: 500px;
    display: inline-block;
    margin-left: 10rem;
}


.post{
  text-align: center;
  border-bottom: 1px solid #000000;
  border-bottom-style: inset;
  display: inline-block;
  width: 40%;
  margin-left: auto;
  margin-right: 5rem;
  border-collapse: collapse;
}

.post h1{
  font-size: 30px;
  margin: 0;
}

.post h2{
  margin-top: .5rem;
  margin-bottom: 1rem;
  font-size: 20px;
}

.post h1, .post h2{
  font-family: 'Antic Slab', serif;
}

@-webkit-keyframes shadow {
    from{background-color: white;}
    to{background-color: rgba(0,0,0,0.1);}
}

@-moz-keyframes shadow {
    from{background-color: white;}
    to{background-color: rgba(0,0,0,0.1);}
}

@keyframes shadow {
  from{background-color: white;}
  to{background-color: rgba(0,0,0,0.1);}
}

.post:hover{
  animation-name: shadow;
  animation-duration: .2s;
  -webkit-animation-fill-mode: forwards;
}

.last{
  border-bottom: 0;
}

.projects{
 padding-top: 2rem;
}

.projectOne{
  background-color: rgb(58,23,63);
  background-image: url("../images/blocjams.png");
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1840px;
  border-bottom: 1px solid #000000;
  box-shadow: 3px 5px 10px 5px rgba(0, 0, 0, 0.2);
}

.projectOne h1{
  color: white;
}

.projects h1{
  font-size: 7rem;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    3px 3px 0 #000;
  padding-top: 10rem;
  text-align: center;
  margin: 0;
}

.projectTwo{
  background-color: rgb(58,23,63);
  background-image: url("../images/test.jpg");
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1840px;
  border-bottom: 1px solid #000000;
  box-shadow: 3px 5px 10px 5px rgba(0, 0, 0, 0.2);
}

.projectTwo h1{
  color: white;
}

.projectThree{
  background-color: rgb(58,23,63);
  background-image: url("../images/test2.jpg");
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1840px;
  border-bottom: 1px solid #000000;
  box-shadow: 3px 5px 10px 5px rgba(0, 0, 0, 0.2);
}

.projectThree h1{
  color: white;
}

.container{
  padding-left: 15rem;
  padding-right: 15rem;
}

.col-1{
  width: 100%;
}
