body{
  padding-bottom: 0;
}

.description{
  height: 250px;
}

.description:hover{
  background-color: darkorange;
}

.case-study{
  font-size: 1.5rem;
  margin-top: 5rem;
  margin-left: 35rem;
  margin-right: 35rem;
}

.case-study h1{
  text-align: center;
  color: black;
  font-size: 2rem;
}

.case-study p{
  text-indent: 50px;
}

.project-img{
  width: 100%;
  border: solid 1px;
  box-shadow: 3px 5px 10px 5px rgba(0, 0, 0, 0.2);
}

.iphone{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px;
  box-shadow: 3px 5px 10px 5px rgba(0, 0, 0, 0.2);
}

.mobile-image{
  padding-left: 35rem;

}
